---
import Layout from "../layouts/Layout.astro";

import Banner from "../sections/Banner.astro";
import Marquee from "../sections/Marquee.astro";
import Contactform from "../components/Contactform.astro";
---

<Layout>
	<Banner />
	<Marquee />
	<img class="mx-auto mb-10" src="images/mapaCartasContacto.png" alt="">
	<Contactform />
	<div class="my-20"></div>
</Layout>
