---
import Layout from "../layouts/Layout.astro";

import Banner from "../sections/Banner.astro";
import Marquee from "../sections/Marquee.astro";
import Gallery from "../components/Gallery.astro";
import Carousel from "../components/Carousel.astro";

import Questions from "../components/Questions.astro";
import Pricingtable from "../components/Pricingtable.astro";

import Contactform from "../components/Contactform.astro";

import Courses from "../components/Courses.astro";
---

<Layout>
	<Banner />
	<Marquee />
	<Gallery />
	<Carousel />

	<Questions />
	<Pricingtable />

	<Courses />

	<Contactform />
	<div class="my-50"></div>
</Layout>
