---
import banner from "/public/images/opiniones/banner.png";
import opinion1 from "/public/images/opiniones/nategentile.png";
import opinion2 from "/public/images/opiniones/peladonerd.png";
import opinion3 from "/public/images/opiniones/s4vitar.png";

---

<section class="max-w-7xl mx-auto my-15">
    <div class="grid grid-cols-4 grid-rows-4 gap-4 rounded-2xl bg-green-500/50 p-4">
        <div class="col-span-4">
            <div class="flex items-center justify-between">
                <div>
                    <h2>Adaptate al futuro con nuestro cantera de formaci칩n en tecnolog칤a e IT en constante crecimiento, ofreciendo cursos de vanguardia en temas como inteligencia artificial generativa, programaci칩n y ciberseguridad.</h2>
                </div>
                <img class="w-5xl object-cover overflow-hidden rounded-xl" src={banner.src} alt="Imanen banner opiniones">
            </div>
        </div>
        <div class="row-span-2 row-start-2">
            <img class="object-cover overflow-hidden rounded-xl" src={opinion1.src} alt="Imagen customer 1">
        </div>
        <div class="col-span-2 row-span-2 row-start-2 bg-white/90 rounded-sm">
            Nate Gentile (Hardware, optimizaci칩n y desarrollo)
            "Si van a aprender desarrollo web, esta plataforma est치 bastante bien. Ahora, ojo con las tecnolog칤as que ense침an. Si siguen ense침ando jQuery en 2025... 游뛀"
            "Ojal치 expliquen bien Git y no solo lo mencionen de pasada. No hay nada peor que un programador que no sabe usar control de versiones."
        </div>
        <div class="col-start-4 row-start-2 bg-white/90 rounded-sm">Bloque peque침o</div>
        <div class="col-start-4 row-start-3 bg-white/90 rounded-sm">Bloque peque침o</div>
        <div class="col-span-3 row-start-4 bg-white/90 rounded-sm">
            S4vitar (Ciberseguridad y hacking 칠tico)
            "Antes de recomendar la web, lo primero que hago es mirar si tienen cursos de ciberseguridad. Si no te ense침an ni lo b치sico de seguridad web, cuidado con lo que aprendes."
            "Ojo con los certificados que ofrecen. Si dicen que te conviertes en 'Full Stack Developer' en 2 meses, ya sabes que es humo."
        </div>
        <img class="row-start-4 object-cover overflow-hidden rounded-xl" src={opinion3.src} alt="Imagen customer 2">
    </div>
</section>