<section class="max-w-7xl mx-auto my-15 rounded-2xl">
    <details class="">
        <summary class="list-none">
            <div class="flex justify-between items-center font-bold cursor-pointer border-b border-footer-link">
                <h3 class="tracking-wider leading-4 py-4 text-left">¿Qué es Foobar?</h3>
            </div>
        </summary>
        <ul class="pl-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe aliquam in itaque quisquam sunt enim impedit nemo commodi expedita sapiente, earum quae, corrupti, nihil rerum quos laudantium dolorem animi a.</p>
        </ul>
    </details>

    <details class="pt-4">
        <summary class="list-none">
            <div class="flex justify-between items-center font-bold cursor-pointer border-b border-footer-link">
                <h3 class="tracking-wider leading-4 py-4 text-left">¿Qué es Foobar?</h3>
            </div>
        </summary>
        <ul class="pl-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe aliquam in itaque quisquam sunt enim impedit nemo commodi expedita sapiente, earum quae, corrupti, nihil rerum quos laudantium dolorem animi a.</p>
        </ul>
    </details>

    <details class="pt-4">
        <summary class="list-none">
            <div class="flex justify-between items-center font-bold cursor-pointer border-b border-footer-link">
                <h3 class="tracking-wider leading-4 py-4 text-left">¿Qué es Foobar?</h3>
            </div>
        </summary>
        <ul class="pl-4">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe aliquam in itaque quisquam sunt enim impedit nemo commodi expedita sapiente, earum quae, corrupti, nihil rerum quos laudantium dolorem animi a.</p>
        </ul>
    </details>
</section>