
<section class="w-full h-[80vh]">
    <video id="video" autoplay loop muted class="w-full h-full object-cover relative z-0">
        <source src="video-banner.mp4" type="video/mp4">
        Tu navegador no soporta el video
    </video>
    <div class="absolute top-1/3 left-2.5 xl:left-1/3 transform xl:-translate-x-1/2 w-sm xl:w-2xl bg-white bg-opacity-50 p-5 xl:p-10 rounded-2xl">
        <h1 class="text-xl xl:text-4xl font-bold">¡Conviértete en un desarrollador web profesional!</h1>
        <p class="mt-5 text-sm xl:text-lg">Aquí encontrarás cursos de todo tipo de tecnologías.</p>
    </div>
    <button id="stop" class="absolute bottom-40 right-10 z-[4] inline-flex items-center justify-center w-[40px] h-[40px] rounded-full border-none bg-none p-0 cursor-pointer hover:shadow-[0_0_25px_#000]" aria-label="Stop Video">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M24.75 39V1h11.88v38zM3.37 39V1h11.88v38z" fill="#fff"></path></svg>
    </button>
    <button id="play" class="absolute bottom-40 right-10 z-[4] inline-flex items-center justify-center w-[40px] h-[40px] rounded-full border-none bg-none p-0 cursor-pointer hover:shadow-[0_0_25px_#000]" aria-label="Play Video" style="display: none;">
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M6.3 39a1.46 1.46 0
        0 1-1.46-1.46V2.46a1.46 1.46 0 0 1 2.25-1.23l27.4 17.54a1.46
        1.46 0 0 1 0 2.46L7.09 38.77a1.47 1.47 0 0 1-.79.23z" fill="#fff"></path></svg>
    </button>
</section>
