---
import Marqueecontent from "../components/Marqueecontent.astro"
---
<div class="bg-black mx-auto w-[110%] my-[3%] text-white">
    <Marqueecontent content={ [ "JavaScript", "Python", "Ruby", "React", "Vue.js", "Node.js", "HTML5", "CSS3", "TypeScript", "Git", "GitHub", "Visual Studio Code", "MongoDB", "SQL", "Tailwind CSS", "Angular", "PHP", "MySQL",  "Figma", "npm", "yarn", "WordPress", "Bash", "Sass"] } />
</div>